
h1{
  font-size: 562.5%;
  margin: 100px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #66BFBF;
}
h2{
  font-size: 300%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #66BFBF;}
h3{
  color: #11999E;
}
body{
background-color: #f4f9f9;
text-align: center;
font-family: verdana, sans-serif;
}
p{
  font-size: large;  
}
.bottom-cloud{
  position: absolute;
  left: 200px;
}
.top-cloud{
position:relative;
left: 300px;
}
.top-container{
    padding-top: 100px;
    line-height: 2;
}
.middle-container{
  font-family: 'Montserrat', sans-serif;
}
.bottom-container{
  color: #11999E;
}
.skills{
  text-align: center;
}
.profile1{
height: 200px;
width: auto;
border-radius: 50%;
}
.monitor{
  height: 200px;
  width: auto;
}
.envelope{
  height: 200px;
  width: auto;
}
.server{
  height: 200px;
  width: auto;
}
.programmer{
  font-weight: normal;
}
.about-me{
  border: 1px ;
  font-size: 16px;
}
.collapsible {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 17px;
  background-color: #f4f9f9
}
.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #f4f9f9
  font-size: 15px;
}
.fade-in-image {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
button {
  transition: transform .3s ease-in-out;
}

button:hover {
  transform: scale(1.2)
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}